@import url(http://fonts.googleapis.com/css?family=Roboto);
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg{

    position: fixed;
    width: 100%;
    height: 350px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}
.offer{
    border: 1px solid white;
    border-radius: 5px;
    height: 300px;
    text-align: center;
    align-content: center;
    background-color: #FAF0F5;
    margin-bottom: 10px;
}
.central-Content{
    border: 1px solid #F1EBF1;
    padding: 5em 5em 5em 5em;
    border-radius: 5px;
    margin-top: 50px;
    text-align: center;
    align-content: center;
    background-color: #F7F7F9;
}
.detailfont{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}
.font{
    font-family: 'Open Sans Condensed', sans-serif;
}
.picture{
    width:auto;
    max-height:150px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}
.picturedetails{
    width:auto;
    height:300px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}
.bubble{
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 2px solid #FFF0FF;
    color: black;
    background: #FFF0FF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubble:after {
    content: "";
    position: absolute;
    left: -15px;
    top: 45px;
    border-top: 15px solid #FFF0FF;
    border-top-color: inherit; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; 
}
.homepicture{
    width:50px;
    height:auto;
    background-color: transparent;
}
.logo{
    height: 50px;
}
.footer {
    height: 50px;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
