@{
    ViewBag.Title = "Home Page";
}

<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <div class="col-md-4 pull-right">
        <div id="googleMap" style="width:500px;height:380px;" class="pull-right"></div>
    </div>
    
</div>
<script>

    var myCenter = new google.maps.LatLng(47,6.93);

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var offer = new Array();
        var markers = new Array();
        var latitude = @Html.Raw(Json.Encode(ViewBag.latitude));
        var longitude = @Html.Raw(Json.Encode(ViewBag.longitude));
        for(i=0;i<@ViewBag.nbOffer;i++)
        {
            offer[i] = new google.maps.LatLng(latitude[i], longitude[i]);
            markers[i] = new google.maps.Marker({
                position: offer[i],
            });
        }

        for (i = 0; i < @ViewBag.nbOffer; i++)
        {
            markers[i].setMap(map);
        }


    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>