@{Html.BeginForm("Login", "Home");}
    @Html.TextBox("email", "",new { @placeholder = "email" })
    @Html.Password("password", "",new { @placeholder = "password" })
    <button type="submit" class="btn btn-default">Login</button>
@{Html.EndForm();}