@{Html.BeginForm("Login", "Home");}
    @Html.Label("Email")
    @Html.TextBox("email")
    @Html.Label("Password")
    @Html.Password("password")
    <button type="submit">Save</button>
@{Html.EndForm();}