@{Html.BeginForm("Search", "Offer");}
    @Html.TextBox("search", "Search")
    <button type="submit">
        <span class="glyphicon glyphicon-search form-control-feedback" />
    </button>
@{Html.EndForm();}
