<div class="container">
    @{Html.BeginForm("Search", "Offer");}
    <div class="input-group">
        @Html.TextBox("search", "", new { @placeholder = "Search...", @class = "form-control pull-right" })
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
    @{Html.EndForm();}
</div>