@model SEL.Models.Message

@{
    ViewBag.Title = "Details";
}
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

 <legend class="font h3">Message</legend>
    <div class="display-field font h4" style="font-style: italic">@ViewBag.ownerPseudo write...</div>
    <div class="bubble">        
        <div class="display-field detailfont h3">@Model.title</div>

        <div class="display-field font h4">@Model.message</div>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


